*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #0e0d0d;
}
header{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;

}
header a{
    margin: 0 20px;
    color: #FF2079;
    text-decoration: none;
}
main{
    width: 100%;
    height: 80vh;
    background-color: #0e0d0d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    min-width: 180px;
    width: 80%;
    max-width: 400px;
    height: 500px;
    background-image: linear-gradient(#FF2079 ,#440BD4);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}
form{
    min-width: 170px;
    width: 97%;
    max-width: 390px;
    height: 490px;
    background-color: #0e0d0d;
    border-radius: 6px;
    text-align: center;
    
}
#logo{
    margin: 20px auto;
}
.dropdowns{
    margin: 5px auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.dropdowns .spec{
    width: 42%;
    height: 25px;
    background-color: #0e0d0d;
    padding: 5px;
    outline: none;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    font-size: 1rem;

}

.dropdowns .spec:focus{
    background-color: #0e0d0d;
    color: white;
}


@media screen and (min-width: 400px) {
    .dropdowns{
        gap: 5px;
    }
    .dropdowns .spec{
        width: 42%;
    }
}

@media screen and (min-width: 800px) {
    .dropdowns{
        gap: 5px;
    }
    .dropdowns .spec{
        width: 42%;
    }
}
.inputfield, .temp2{
    margin: 5px auto;
    width: 80%;
    height: 40px;
    padding: 0px 20px;
    background-color: #0e0d0d;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    font-size: 1rem;
}
.temp3{
    color: whitesmoke;
    padding: 1em;
}
.btn{
    width: 140px;
    height: 40px;
    background-image: linear-gradient(#FF2079 ,#440BD4);
    border: none;
    border-radius: 6px;
    margin: 1em;
    color: white;
}

.passpara{
    padding: 2.5em;
}

.passpara a{
    text-decoration: none;
    color: #440BD4;
} 
::-ms-reveal{
    filter: invert(100%);
}
footer{
    width: 100%;
    height: 10vh;
    background-color: #0e0d0d;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: white;
    display: inline-block;
    margin: 0.5em;
}

@media screen and (min-width: 700px) {
    footer a{
        margin: 0.5em 2.5em;
    }   
}